html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.date-box {
    background-color: #d50000;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100px;
}

    .date-box h5 {
        margin: 0;
    }

    .date-box .day {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .date-box .month {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
