.date-box {
    background-color: #d50000;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100px;
}

.date-box h5 {
    margin: 0;
}

.date-box .day {
    font-size: 1.5rem;
    font-weight: bold;
}

.date-box .month {
    font-size: 0.8rem;
    text-transform: uppercase;
}
